.btnMagni {
  display: flex;
  justify-content: center;
  padding: 10px 20px;
  background-color: red;	
  color: white;
  border: none;
  cursor: pointer;
  height: 70px;
  border-radius: 5px;
  width: 140px;
  font-size: 1.01rem;
  box-shadow: 2px 4px 8px gray;
  text-transform: uppercase;
  font-weight: 200;
}
