.btnMagni {
  padding: 10px 20px;
  background-color: green;	
  color: white;
  border: none;
  cursor: pointer;
  height: 40px;
  border-radius: 5px;
  width: 140px;
  font-size: 1.3rem;
  box-shadow: 2px 4px 8px gray;
  text-transform: uppercase;
  font-weight: 600;
}
